#chat-screen {
    background-color: #abc1d1;
    height: 500vh;
}

#chat-screen .alt-header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
    z-index: 1;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.main-chat {
    margin-top: 100px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.8s linear;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
    z-index: 2;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 15px;
}

.message-author {
    margin-bottom: 8px;
    display: block;
}

.message-bubble {
    background-color: white;
    padding: 13px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 18px;
}

.message-info {
    display: flex;
    align-items: flex-end;
}

.message-author,
.message-time {
    opacity: 0.8;
    font-size: 13px;

}

.message-row--own{
    justify-content: flex-end;
}

.message-row--own .message-bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}

/* .message-row--own .message-bubble{
    order: 1;
}

.message-row--own .message-time{
    order: 0;
} */

.message-row--own .message-info{
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:last-child{
    width: 90%;
    position: relative;
}

.reply i{
    opacity: 0.5;
}

.reply input {
    padding: 5px;
    height: 30px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -8px;
    top: 6px;
}

.reply__column:last-child > i{
    right: 40px;
    top: 20px;
}

.reply__column button{
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button i{
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active{
    outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button{
    transition: opacity 0.2s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus{
    width: 95vw;
    transform: translateX(-14.5%) translateY(-80px);
}

.reply:focus-within{
    transform: translateY(80px)
}