.find-icons {
  display: flex;
  position: relative;
  top: 100px;
  justify-content: space-between;
  padding-bottom: 25px;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-icons__icon i {
  font-size: 28px;
}

.find-icons__icon span {
  margin-top: 20px;
}

.recommended-friends {
  position: relative;
  top: 110px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
  margin-bottom: 25px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--main-font-color);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  color: var(--main-font-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 120px;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 40%;
  margin-right: 5px;
}

.open-post__membet-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}

.open-post__membet-status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__photo {
  position: relative;
}
.open-post__heart-count span {
  margin-left: 3px;
}

.open-post2 {
  position: relative;
  top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post2__title {
  font-weight: 600;
}

.open-post2__members img {
  width: 15px;
  height: 15px;
  border-radius: 40%;
  margin-right: 5px;
}

.open-post2__members {
  display: flex;
}

.open-post2__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post2__member-count {
  opacity: 0.6;
}

.open-post2__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}

.open-post2__member-status {
  color: #ffb0e0;
}

.open-post2__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post2__photo {
  position: relative;
}

.open-post2__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
