.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid #dddddd;
}

.nav__link {
  color: #26292e;
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 12px;
  bottom: 10px;
}

.nav__dot {
  background-color: tomato;
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 16px;
  bottom: 16px;
  justify-content: center;
  align-items: center;
}
