.screen-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-top: 25px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  padding-left: 12px;
  width: 100%;
  box-sizing: border-box;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

@keyframes rotateCog {
  from{
    transform: none;
  }
  to{
    transform: rotateZ(360deg);
  }

}
.screen-header__icons .fa-gear:hover{
 animation: rotateCog 1s linear infinite;
}